<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- Database connection settings -->
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/new</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>


        <mapping class="org.bookstore.entities.Book"/>
        <mapping class="org.bookstore.entities.Customer"/>
        <mapping class="org.bookstore.entities.Sale"/>

    </session-factory>
</hibernate-configuration>
